$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

@mixin translateY($e) {
  -webkit-transform: translateY($e);
    -moz-transfrom: translateY($e);
      transform: translateY($e);
}
@mixin transition($e) {
  -webkit-transition:$e;
    -moz-transition:$e;
      transition: $e;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

a{
  test-decoration: none;
  @include ; transition(.4s ease-in-out);
  cursor: pointer;

  &:hover{
    color: $red;
    line-height: 24px;
  }
}
.container-fuild{
  line-height: 24px;
}
